/* Tablet & Mobile */
@media (max-width: 1000px) {
  .header__nav {
    display: none;
  }
  .header__container {
    align-items: center;
    position: relative;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .keepMenuMobile {
    display: none;
  }
  .media {
    flex-direction: column-reverse;
    padding: 80px 8px 160px;
  }
  .media__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .film {
    padding: 80px 0;
    display: flex;
  }
  .film__img {
    width: 100%;
    margin-right: 16px;
  }
  .film__img-img {
    margin-right: 32px;
  }
  .film__container {
    width: 100%;
  }
  .film__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .film__container-count-list {
    justify-content: space-around;
  }
  .rating__img {
    display: none;
  }
  .label__img {
    width: 33%;
  }
  .label__img:first-child {
    display: none;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__img {
    width: 100%;
    display: flex;
  }
  .footer__img-img {
    margin: auto;
  }
  .footer__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 10px;
  }
  .rating__heading {
    width: 100%;
  }
  .rating__title {
    width: 100%;
  }
  .footer__policy {
    margin: 0;
  }
  .copy-right__list {
    display: none;
  }
  .footer__about {
  }
  .footer {
    padding: 40px 8px 0;
  }
}

/* Tablet */
@media (max-width: 1000px) and (min-width: 600px) {
  .footer__contact {
    margin-bottom: 32px;
  }
}

/* Mobile */
@media (max-width: 599px) {
  .label__img {
    width: 50%;
  }
  .label__img:last-child {
    display: none;
  }
  .footer__content {
    justify-content: center;
  }
  .footer__container {
    padding: 0 20px;
  }
  .rating {
    padding: 80px 8px;
  }
  .footer__policy {
    margin: 32px 16px 32px 0;
  }
  .footer__about {
    margin-top: 32px;
  }
}
